



<!DOCTYPE html>
<html>

  <body class="coucou">
  <div class="container">
  <div class="sign">
      <div class="neon-blue" id="title">M<span id="fade">y</span> Items</div>
      <div class="neon-blue"> With <span class="neon-purple" id="trav">Thomas</span> And <span class="neon-purple">Andreas</span></div>
   </div>
  </div>


    <br /><br /><br /><br /><br /><br /><br /><br />

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    
    <a href="/login" class="actions btn">
        <%= " go to Login" %>
      </a>

  </body>
</html>