

<!DOCTYPE html>
<html>
  <head>
    <title>MyStarterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="coucou">
  <div class="container">
  <div class="sign">
      <div class="neon-blue" id="title">M<span id="fade">y</span> Items</div>
      <div class="neon-blue"> With <span class="neon-purple" id="trav">Thomas</span> And <span class="neon-purple">Andreas</span></div>
   </div>
</div>


    <br /><br /><br /><br /><br /><br /><br /><br />
    <password>
        <input type="password" placeholder="Password" >
        <a href="home"><button><i class="fas fa-sign-in-alt"> </i></button></a>
    </password>
  </body>
</html>